.stat-col-container {
    margin: 10px 0;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.stat-col-container-red {
    background-color: #fff5f7;
}

.stat-col-container-blue {
    background-color: #f0f9ff;
}

.stat-col-container-green {
    background-color: #f3fff4;
}



.stat-col-item-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    width: 3.5rem
}



.stat-col{
    width: 3rem;
    border-radius: 0.2rem;
}


.stat-col-light-red{
    background: rgb(244,67,54);
    background: linear-gradient(0deg, rgba(244,67,54,1) 60%, rgba(239,154,154,1) 100%);

}
.stat-col-dark-red{
    background: rgb(211,47,47);
    background: linear-gradient(0deg, rgba(211,47,47,1) 60%, rgba(239,83,80,1) 100%);

}


.stat-col-light-blue{
    background: rgb(3,169,244);
    background: linear-gradient(0deg, rgba(3,169,244,1) 60%, rgba(129,212,250,1) 100%);
}  
.stat-col-dark-blue{
    background: rgb(25,118,210);
    background: linear-gradient(0deg, rgba(25,118,210,1) 60%, rgba(33,150,243,1) 100%);
}  


.stat-col-light-green{
    background: rgb(76,175,80);
    background: linear-gradient(0deg, rgba(76,175,80,1) 60%, rgba(165,214,167,1) 100%);
}
.stat-col-dark-green{
    background: rgb(56,142,60);
    background: linear-gradient(0deg, rgba(56,142,60,1) 60%, rgba(76,175,80,1) 100%);
}





.stat-col-label{
    text-align: center;
    margin-top: 20px;
    color: #424242;
}