.stat-card-container{
    width: 10rem;
    height: 7rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.stat-card-container-light-blue{
   background-color: rgba(129,212,250,1)
}
.stat-card-container-dark-blue{
    background-color: rgba(25,118,210,1);
}
.stat-card-container-light-green{
    background-color: rgba(165,214,167,1)
}
.stat-card-container-dark-green{
    background-color: rgba(56,142,60,1);
}
.stat-card-container-light-red{
    background-color: rgba(239,154,154,1)
}
.stat-card-container-dark-red{
    background-color:rgba(211,47,47,1)
}
.stat-card-container-light-yellow{
background-color: #FFF9C4;
}
.stat-card-container-dark-yellow{
background-color: #FDD835;
}
.stat-card-light{
    color: #424242;
}

.stat-card-dark{
    color: #F5F5F5;
}

.stat-card-row{
    display: flex;
    width: 100%;
    justify-content: space-between
}

.stat-card-icon{
    font-size: 2.5rem;
}
.stat-card-label{
    font-size: 1.4rem;
    font-weight: 500;
}

.stat-card-value{
    font-size: 2rem;
}